/* reseteo de estilos */

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --grayishblue: hsl(237, 18%, 59%);
    --softred: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --darkdesaturatedblue: hsl(236, 21%, 26%);
    --verydarkblue: hsl(235, 16%, 14%);
    --verydarkmostlyblackblue: hsl(234, 17%, 12%);
}

body{
    font-family: 'Red Hat Text', sans-serif;
    background-color: rgb(30, 30, 42);
    background-image: url(/images/bg-stars.svg);
    background-repeat: no-repeat;
    background-position-x: 40px;
    background-position-y: 50px;
}

.timer{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
}

h1{
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 25px;
    color: var(--white);
    
}

span{
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--softred);
    font-size: 38px;
}

p{
    margin-top: 14px;
    font-size: 6px;
    letter-spacing: 4px;
    color: var(--grayishblue);
}

footer{
    background-image: url(/images/pattern-hills.svg);
    background-position-x: 560px;
    background-position-y: -40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
}

.social__contain{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: auto;
    cursor: pointer;
}

.social__contain img:hover{
    filter: invert(64%) sepia(30%) saturate(7427%) hue-rotate(310deg) brightness(100%) contrast(97%);
}

.number__contain{
    background-color: rgb(51, 54, 78);
    display: flex;
    width: 100%;
}